{% if errors[constant('AppBundle\\Service\\Rzd\\Api::CARRIAGE_PATH')] is defined %}
    <div class="error">
        error code: {{ errors[constant('AppBundle\\Service\\Rzd\\Api::CARRIAGE_PATH')]['code'] }}
        <br>
        {{ errors[constant('AppBundle\\Service\\Rzd\\Api::CARRIAGE_PATH')]['desc'] }}
    </div>
{% endif %}

{% if carriages %}
    <h1>Carriages for train №{{ form.trainId.vars.data }}</h1>
    <table>
        <thead>
        <tr>
            <th>№</th>
            <th>Type</th>
            <th>Free places</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for carriage in carriages %}
            <tr>
                <td>{{ carriage.getNumber }}</td>
                <td>{{ carriage.getType.getType }}</td>
                <td>{{ carriage.getFreePlaces }}</td>
                <td>{{ carriage.getPrice }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
